In [1]:
# rodgers profitableHospital geocode clean-up script

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("geocoded2017_starter.csv")
df.head()

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,County,lat,lng
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,MARSHALL,39.946236,-80.752966
1,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,RICHMOND,34.901612,-79.708561
2,450178,PECOS COUNTY MEMORIAL HOSPITAL,386 W IH-10,FORT STOCKTON,TX,79735,PECOS,30.567794,-87.393012
3,341317,PIONEER HLTH SERV OF STOKES CNTY,1570 NC & 89 HWY,DANBURY,NC,27016,STOKES,36.418001,-80.230915
4,110003,MAYO CLINIC HEALTH SYSTEM WAYCROSS,1900 TEBEAU STREET,WAYCROSS,GA,31501,WARE,31.224905,-82.347732

In [4]:
df['Provider CCN'].count()

6171

In [5]:
clean1 = df[['Provider CCN', 'lat', 'lng']]
clean1.head()

   Provider CCN        lat        lng
0        510013  39.946236 -80.752966
1        340106  34.901612 -79.708561
2        450178  30.567794 -87.393012
3        341317  36.418001 -80.230915
4        110003  31.224905 -82.347732

In [6]:
clean1['Provider CCN'].count()

6171

In [7]:
clean2 = clean1.sort_values('Provider CCN')
clean2.reset_index(drop=True)
clean2.head()

      Provider CCN        lat        lng
5212         10001  31.215884 -85.363008
5213         10005  34.222103 -86.160908
3412         10006  34.793962 -87.682691
3413         10007  31.282668 -86.255507
3414         10008  31.693615 -86.264724

In [8]:
clean2['Provider CCN'].count()

6171

In [9]:
clean2.count()

Provider CCN    6171
lat             6171
lng             6171
dtype: int64

In [10]:
clean2.dtypes

Provider CCN      int64
lat             float64
lng             float64
dtype: object

In [11]:
clean2['Provider CCN'].value_counts()

370025    3
371311    3
110074    2
453301    2
450659    2
         ..
351312    1
114013    1
50526     1
200031    1
141313    1
Name: Provider CCN, Length: 6075, dtype: int64

In [14]:
clean2 = clean2.drop_duplicates("Provider CCN")
clean2['Provider CCN'].value_counts()

141311    1
111311    1
454137    1
60100     1
230085    1
         ..
30068     1
114037    1
450489    1
194096    1
141313    1
Name: Provider CCN, Length: 6075, dtype: int64

In [15]:
clean2.to_csv("ccn2geocode.csv", index=False, header=True)