In [13]:
#profitableHospital-project

In [14]:
#dependencies
import pandas as pd
import requests
import json
from config import gkey

In [15]:
#initial file read
df = pd.read_csv("Medicare_Hospital_Cost_Report_PUF_2017.csv")
#df = df.dropna(axis='columns', how='all')
#df = df.dropna()
df.head()

C:\Users\rodge\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (105) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,County,Medicare CBSA Number,Rural Versus Urban,CCN Facility Type,...,Total Other Income,Total Income,Total Other Expenses,Net Income,Cost To Charge Ratio,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone SCHIP,Stand-Alone SCHIP Charges,rpt_rec_num
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,MARSHALL,48540.0,U,STH,...,4492364.0,2638799.0,NaN,2638799.0,0.453498,1237912.0,4026663.0,NaN,NaN,599181
1,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,RICHMOND,99934.0,R,STH,...,31174.0,-1114660.0,NaN,-1114660.0,0.173114,391215.0,4981119.0,NaN,NaN,601095
2,450178,PECOS COUNTY MEMORIAL HOSPITAL,386 W IH-10,FORT STOCKTON,TX,79735,PECOS,99945.0,R,STH,...,2096862.0,576278.0,NaN,576278.0,0.455741,719760.0,1275211.0,NaN,NaN,601392
3,341317,PIONEER HLTH SERV OF STOKES CNTY,1570 NC & 89 HWY,DANBURY,NC,27016,STOKES,49180.0,U,CAH,...,1542201.0,640268.0,622592.0,17676.0,1.154767,578366.0,801800.0,159516.0,702117.0,601721
4,110003,MAYO CLINIC HEALTH SYSTEM WAYCROSS,1900 TEBEAU STREET,WAYCROSS,GA,31501,WARE,99911.0,R,STH,...,224757.0,-6170184.0,NaN,-6170184.0,0.271734,3113423.0,11231324.0,1331.0,8211.0,603846

In [16]:
conTable = pd.read_csv("certificateofneedstatesTable.csv")
conTable.head()

  State Code  CON
0         AK    1
1         AL    1
2         AR    1
3         AZ    0
4         CA    0

In [17]:
urbanTable = pd.read_csv("ruralversusurbanTable.csv")
urbanTable.head()

  Rural Versus Urban  Urban
0                  U      1
1                  R      2

In [18]:
mainFile1 = pd.merge(df, conTable, how= "left", on=['State Code'])
mainFile1.head()

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,County,Medicare CBSA Number,Rural Versus Urban,CCN Facility Type,...,Total Income,Total Other Expenses,Net Income,Cost To Charge Ratio,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone SCHIP,Stand-Alone SCHIP Charges,rpt_rec_num,CON
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,MARSHALL,48540.0,U,STH,...,2638799.0,NaN,2638799.0,0.453498,1237912.0,4026663.0,NaN,NaN,599181,1.0
1,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,RICHMOND,99934.0,R,STH,...,-1114660.0,NaN,-1114660.0,0.173114,391215.0,4981119.0,NaN,NaN,601095,1.0
2,450178,PECOS COUNTY MEMORIAL HOSPITAL,386 W IH-10,FORT STOCKTON,TX,79735,PECOS,99945.0,R,STH,...,576278.0,NaN,576278.0,0.455741,719760.0,1275211.0,NaN,NaN,601392,0.0
3,341317,PIONEER HLTH SERV OF STOKES CNTY,1570 NC & 89 HWY,DANBURY,NC,27016,STOKES,49180.0,U,CAH,...,640268.0,622592.0,17676.0,1.154767,578366.0,801800.0,159516.0,702117.0,601721,1.0
4,110003,MAYO CLINIC HEALTH SYSTEM WAYCROSS,1900 TEBEAU STREET,WAYCROSS,GA,31501,WARE,99911.0,R,STH,...,-6170184.0,NaN,-6170184.0,0.271734,3113423.0,11231324.0,1331.0,8211.0,603846,1.0

In [19]:
mainFile2 = pd.merge(mainFile1, urbanTable, how= "left", on=['Rural Versus Urban'])
mainFile2.head()

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,County,Medicare CBSA Number,Rural Versus Urban,CCN Facility Type,...,Total Other Expenses,Net Income,Cost To Charge Ratio,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone SCHIP,Stand-Alone SCHIP Charges,rpt_rec_num,CON,Urban
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,MARSHALL,48540.0,U,STH,...,NaN,2638799.0,0.453498,1237912.0,4026663.0,NaN,NaN,599181,1.0,1.0
1,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,RICHMOND,99934.0,R,STH,...,NaN,-1114660.0,0.173114,391215.0,4981119.0,NaN,NaN,601095,1.0,2.0
2,450178,PECOS COUNTY MEMORIAL HOSPITAL,386 W IH-10,FORT STOCKTON,TX,79735,PECOS,99945.0,R,STH,...,NaN,576278.0,0.455741,719760.0,1275211.0,NaN,NaN,601392,0.0,2.0
3,341317,PIONEER HLTH SERV OF STOKES CNTY,1570 NC & 89 HWY,DANBURY,NC,27016,STOKES,49180.0,U,CAH,...,622592.0,17676.0,1.154767,578366.0,801800.0,159516.0,702117.0,601721,1.0,1.0
4,110003,MAYO CLINIC HEALTH SYSTEM WAYCROSS,1900 TEBEAU STREET,WAYCROSS,GA,31501,WARE,99911.0,R,STH,...,NaN,-6170184.0,0.271734,3113423.0,11231324.0,1331.0,8211.0,603846,1.0,2.0

In [20]:
#Append lattitude and longitude using google maps api

In [21]:
#Output geocoded file to eliminate multiple hits on googlemaps
mainFile2.to_csv("2017appendedmain.csv", index=False, header=True)

In [22]:
# Select features to be used as x values
features1 = mainFile2[['CON', 'Urban','Provider Type','Type of Control','FTE - Employees on Payroll', 'Number of Beds','Total Discharges (V + XVIII + XIX + Unknown)','Cost of Charity Care','Cost of Uncompensated Care','Total Costs', 'Wage-Related Costs (Core)', 'Total fixed Assets', 'Total Long Term Liabilities', 'Inpatient Revenue', 'Outpatient Revenue', 'Gross Revenue']]
features1.head()

,CON,Urban,Provider Type,Type of Control,FTE - Employees on Payroll,Number of Beds,Total Discharges (V + XVIII + XIX + Unknown),Cost of Charity Care,Cost of Uncompensated Care,Total Costs,Wage-Related Costs (Core),Total fixed Assets,Total Long Term Liabilities,Inpatient Revenue,Outpatient Revenue,Gross Revenue
0,1.0,1.0,1,2,322.10,70.0,435.0,26358.0,284986.0,7704339.0,1077242.0,9205205.0,5012389.0,6691433.0,14763631.0,21455064.0
1,1.0,2.0,1,4,27.24,64.0,196.0,3556.0,169936.0,3958521.0,292162.0,9992010.0,NaN,7448346.0,15418247.0,22866593.0
2,0.0,2.0,1,10,149.17,25.0,104.0,NaN,201329.0,3854574.0,416605.0,15925932.0,19689949.0,2038040.0,6419770.0,8457810.0
3,1.0,1.0,1,4,112.17,25.0,52.0,NaN,723077.0,5382132.0,NaN,4216311.0,4511968.0,2078831.0,5458594.0,7537425.0
4,1.0,2.0,1,9,923.39,155.0,2110.0,782377.0,3793100.0,39198497.0,3897893.0,61187548.0,672577.0,64929188.0,101005874.0,165935062.0