In [64]:
#profitableHospital-project

In [65]:
#dependencies
import pandas as pd
import requests
import json
from config import gkey

In [66]:
#initial file read
df = pd.read_csv("Medicare_Hospital_Cost_Report_PUF_2017.csv")
df.head()

C:\Users\rodge\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (105) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,County,Medicare CBSA Number,Rural Versus Urban,CCN Facility Type,...,Total Other Income,Total Income,Total Other Expenses,Net Income,Cost To Charge Ratio,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone SCHIP,Stand-Alone SCHIP Charges,rpt_rec_num
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,MARSHALL,48540.0,U,STH,...,4492364.0,2638799.0,NaN,2638799.0,0.453498,1237912.0,4026663.0,NaN,NaN,599181
1,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,RICHMOND,99934.0,R,STH,...,31174.0,-1114660.0,NaN,-1114660.0,0.173114,391215.0,4981119.0,NaN,NaN,601095
2,450178,PECOS COUNTY MEMORIAL HOSPITAL,386 W IH-10,FORT STOCKTON,TX,79735,PECOS,99945.0,R,STH,...,2096862.0,576278.0,NaN,576278.0,0.455741,719760.0,1275211.0,NaN,NaN,601392
3,341317,PIONEER HLTH SERV OF STOKES CNTY,1570 NC & 89 HWY,DANBURY,NC,27016,STOKES,49180.0,U,CAH,...,1542201.0,640268.0,622592.0,17676.0,1.154767,578366.0,801800.0,159516.0,702117.0,601721
4,110003,MAYO CLINIC HEALTH SYSTEM WAYCROSS,1900 TEBEAU STREET,WAYCROSS,GA,31501,WARE,99911.0,R,STH,...,224757.0,-6170184.0,NaN,-6170184.0,0.271734,3113423.0,11231324.0,1331.0,8211.0,603846

In [67]:
#df['lat'] = 999

In [68]:
#df['lng'] = 888

In [71]:
# Dependencies
import requests
import json

# Google developer API key
#from config import gkey
gkey = 


for i in range(2,5):
    target_city = df.iloc[i]['Street Address'] + '' + df.iloc[i]['City'] + ' ' + df.iloc[i]['State Code'] + ' ' + df.iloc[i]['Zip Code']
    #target_city = "1062 Roslyn Street, Denver CO 80230"
    
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_city, gkey)

    geo_data = requests.get(target_url).json()
    
    lat = geo_data["results"][0]["geometry"]["location"]["lat"]
    lng = geo_data["results"][0]["geometry"]["location"]["lng"]

    df.at[i, 'lat'] = lat
    df.at[i, 'lng'] = lng

In [72]:
df['lat']

0       999
1       999
2        30
3        36
4        31
       ...
6166    999
6167    999
6168    999
6169    999
6170    999
Name: lat, Length: 6171, dtype: int64

In [73]:
new = df[['Hospital Name','lat','lng']]
new.head()

                        Hospital Name  lat  lng
0          REYNOLDS MEMORIAL HOSPITAL  999  888
1   SANDHILLS REGIONAL MEDICAL CENTER  999  888
2      PECOS COUNTY MEMORIAL HOSPITAL   30  -87
3    PIONEER HLTH SERV OF STOKES CNTY   36  -80
4  MAYO CLINIC HEALTH SYSTEM WAYCROSS   31  -82

In [ ]:
#Output targeted file
geo2017.to_csv("geo2017.csv", index=False, header=True)